# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.env
.env.*

# Virtualenv
venv/
ENV/
.env/
.venv/

# Django static collect
/staticfiles/
media/

# IDEs
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
